.items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    /* background-image: url('../../assets/background.jpg'); */
    background: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: crosshair;
}

.img-size{
    height: 250px;
    width: 200px; 
    border-radius: 5px;
}

.logo-size{
    height: 50px;
}

.item-container{
    margin: 15px 25px 0px 0px;
    max-width: 200px;
    animation: animate 250ms ease-in-out;
}

.item-container > p{
    position: relative;
    letter-spacing: 1.1px;
    z-index: 1;
    transform: translateY(-50px);
    transition: transform 250ms ease-in;
}

.item-container > img{
    transition: all 250ms ease-in-out;
    box-shadow: none;
    transform: rotate3d(0, 1, 0, 25deg);
    transform-style: preserve-3d;
    position: relative;
    z-index: 10;
}

.item-container:hover > img{
    box-shadow: inset 0px 0px 15px 5px rgba(0,66,65,0.8);
    transform: rotate3d(0, 1, 0, 0deg);
}

.item-container:hover > p{
    transform: translateY(0);
}

.gifHolder{
    width: 100%;
    height: 0;
    padding-bottom: 11%;
    position: relative;
}

.gifHolder > .gifStyle{
    position: absolute;
}

@keyframes animate{
    from{
        opacity: 1;
    }
    to{
        opacity: 0
    }
}





@media only screen and (max-width: 600px){
    .item-container{
        margin: 15px 0px 0px;
    }
}